# Core
numpy
scipy
torch
torchaudio
soundfile
pydub

# Audio Processing
librosa
noisereduce
pystoi
torchmetrics
PyWavelets

# Visualization
matplotlib
plotly

# Interface
streamlit

# System / Utility
ffmpeg-python
